@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.textContainer{
  margin-left: 90px;
  /* background-color: red; */
  font-style: oblique;
}

.boxFav {
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 56vh;
    margin-bottom:60px;
    /* margin-left: -20px; */
}

.expo{
  color: blue;
  font-weight: bold;
}


