@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.textContainer{
  /* background-color: rgb(243, 243, 243); */
  width: fit-content;
  padding: 0 5px 0 5px;
  border-radius: 5px;  
  margin-left: 90px;
  margin-top: -20px;
  font-style: oblique;
}

.boxFav {
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 60.5vh;
    margin-bottom: 30px;
    /* margin-left: -20px; */
}

.expo{
  color: blue;
  font-weight: bold;
}


