.boxFav{
    background-color: transparent;
    box-shadow: -1px 2px 12px 4px rgba(0,0,0,0.75);
    padding: 1em;
    display: flex;
    flex-direction: row;
    border-radius: 0px 30px 0px 30px;
    color: rgb(225, 245, 245);
    margin-top: 1em;
}
.imgFav{
    border-radius: 50%;
    box-shadow: -1px 2px 12px 4px rgba(0,0,0,0.75);
    padding: 0.2rem;
    margin-left: 5%;
}
.linkFav{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10%;
    width: 10%;
    font-size: 280%;
}
.character{
    margin-left: 15%;
    width: 5%;
    margin-top: 4rem;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-variant: small-caps;
}