@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80vh;
}

.searchContainer {
  margin-top: 15px;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
