.navbar-menu {
  width: 37px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-menu span {
  width: 100%;
  height: 4px;
  background-color: #000;
}

.menu-options {
  display: none;
}

.menu-options.active {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 18%;
  background-color: rgba(213, 209, 209, 0.9);
  /* Fondo transparente */
  padding: 10px;
}

.menu-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-options li {
  margin-bottom: 10px;
}

.menu-options a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.menu-options a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 4px 5px 3px rgba(0,0,0,0.49);
}

/* Estilos adicionales basados en Navbar */

.navbar.scrolled .navbar-menu,
.navbar.scrolled .menu-options {
  background-color: transparent;
}

.navbar.scrolled .navbar-menu span {
  background-color: #fff;
}

.navbar.scrolled .menu-options.active {
  background-color: rgba(213, 209, 209, 0.4);
}

.navbar.scrolled .menu-options a {
  color: #0c0c0c;
}

.navbar.scrolled .menu-options a:hover {
  color: rgb(255, 255, 255);
}
.cora {
:hover{
  color: white;
}}