.BuyerStyle{
    min-height: 100vh;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    margin-top: 25px;
    border: 1px solid #ccc;
      padding: 20px;
}

.BuyerStyle span {
  font-weight: bold;
  font-style: oblique;
}

.BttBack {
    text-decoration: none;
    background-color: white;
      color: rgb(53, 53, 53);
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}

 .BttBack:hover{
     background-color: rgb(53, 53, 53);
     color: white;
 }
 @keyframes animatedBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
 .BttAcc{
    animation: animatedBackground 10s linear infinite;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(45deg, #4a4949, #fff);
    background-size: 400% 400%;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
 }
 .BttAcc:hover{
    animation: none;
    background: rgba(121, 121, 121, 0.631);
 }
