.BottonSearch{
    text-decoration: none;
    background-color: red;
    border-radius: 0px 0px 20px 0px;
    border:0;
    padding-top: 3px;
 }
 .BottonSearch:hover{
    background-color: rgb(64, 209, 84);
 }
 
 .NavSearch{
    outline: none;
 }
 .icon{
    font-size: 25px;
    color: azure;
 }
 .icon:hover{
    font-size: 24px;
 }