.BottonSearch {
  text-decoration: none;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 0px 0px 20px 0px;
  padding-top: 0px;
  vertical-align: top;
  height: 30px;
}

.BottonSearch:hover {
  background-color: #eaeaea;
  ;
}


.icon {
  font-size: 27px;
  /* color: azure; */
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}