.BottonSearch {
  text-decoration: none;
  background-color: red;
  border-radius: 0px 0px 20px 0px;
  border: 0;
  padding-top: 0px;
  vertical-align: top;
}
.BottonSearch:hover {
  background-color: rgb(64, 209, 84);
}


.icon {
  font-size: 27px;
  /* color: azure; */
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
