@font-face {
  font-family: 'alien';
  src: url('../../assets/fonts/The-Orb-Report.ttf') format("truetype");
  /* Ruta relativa a tu archivo CSS */
}


.logo{
  font-family: 'alien';
  font-size: 35px;
  color: rgb(59, 59, 59);;
}

.sub{
  font-family: calibri;
  font-size: 10px;
  color: rgb(59, 59, 59);
}

.space{
  margin-right: 5px;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(213, 209, 209, 0.9);
  /* Fondo transparente */
  display: flex;
  align-items: center;
  height: 10vh;
  transition: background-color 0.3s ease;
  /* Transición de color de fondo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(10px);
  /* Efecto blur */
  background-color: rgba(213, 209, 209, 0.4);
  /* Fondo transparente */
  display: flex;
  align-items: center;
  height: 10vh;
  transition: background-color 0.3s ease;
  /* Transición de color de fondo */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.navbar img {
  margin-left: 10px;
  /* Ajusta el margen izquierdo según tus necesidades */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Ajusta los valores de sombra según tus necesidades */
}

.navbar-menu,
.navbar-title,
.navlinks-container,
.navbar-user {
  display: flex;
  align-items: center;
  padding-left: 0.7rem;
}

.navbar-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(53, 53, 53);
  cursor: pointer;
  text-shadow: black 0.4px 0.4px;
}

.navlinks-container {
  margin-left: auto;
}

.navlinks {
  text-decoration: none;
  color: rgb(53, 53, 53);
  /* Color de texto */
  font-size: 20px;
  transition: color 0.3s ease;
  /* Transición de color de texto */
  text-shadow: black 0.4px 0.4px;
}

.navlinks:hover {
  color: rgb(255, 255, 255);
}

.navbar-user {
  margin-left: auto;
  padding-right: 10px;
}

.boton-out {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(0, 255, 94);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s ease;
  /* Transición de color de fondo del botón */
}

.boton-out:hover {
  background-color: red;
}

.boton-out::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  z-index: -1;
  transition: left 1.3s ease;
}

.boton-out:hover::before {
  left: 100%;
}

.cartLogo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-welcome {
  margin: 10px 10px;
  font-style: oblique;
  font-weight: lighter;
}

.profile-menu-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.profile-menu-photo-container .profile-menu-photo {
  width: 40px;
  margin: 0;
}
