.about{
    background: black;
    color: aliceblue;
    min-height: 100vh;
    padding: 20px;
}
.BttBack {
    text-decoration: none;
    background-color: blue;
    color: azure;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
}
 .BttBack:hover{
     background-color: rgb(65, 204, 109);
     font-size: 17px;
 }