.Footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
}

.Footer-ref {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
}

.Footer-ref ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Footer-ref ul > div {
    margin-right: 20px;
}

.Footer-ref li {
    margin-bottom: 10px;
    font-weight: bold;
}

.Footer-ref .NavLink {
    margin-bottom: 5px;
    text-decoration: none;
    color: #000;
  }
  
  .Footer-ref .NavLink.active {
    color: #f00; /* Estilo para el enlace activo */
  }
  .Footer-ref ul li a.NavLink {
    text-decoration: none;
  }
  