.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container label {
  margin-right: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

.container select {
  background-color: #f0efef;
  margin: 5px;
  height: 35px;
  width: 120px;
  border: 1px solid #ccc;
}

.container select:hover {
  background-color: #dedede;
}

.container option {
  background-color: #f0efef;
}

.container input {
  width: 90px;
  height: 35px;
  background-color: #f0efef;
  border: 1px solid #ccc;
}

.container input:hover {
  background-color: #dedede;
}

.container input[type='number']::-webkit-inner-spin-button,
.container input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container button {
  padding: 5px 10px;
  background-color: #f0efef;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 35px;
  width: 120px;
  text-align: center;
}

.container button:hover {
  background-color: #dedede;
}
