.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
}

.imgContainer {
  margin-bottom: 20px;
}

.imgContainer img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.propsContainer {
  margin-bottom: 20px;
  text-align: center;
}

.propsContainer h3 {
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

.propsContainer p {
  margin: 0;
  font-size: 1.2em;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likeStyle {
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-bottom: 10px;
  color: #646cff;
}

.likeStyle:focus {
  outline: none;
}

.cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #646cff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}

.cartButton:hover {
  background-color: #535bf2;
}

.cartIcon {
  margin-right: 8px;
}

.shareButtons {
  display: flex;
}

.shareButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-right: 8px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}

.shareButton:hover {
  background-color: #535bf2;
}

.shareIcon {
  margin-right: 4px;
}

.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scrollButton:hover {
  background-color: #535bf2;
}

.scrollButton::before {
  content: '\2191'; /* Código de la flecha hacia arriba */
  font-size: 24px;
}

.ratingContainer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.ratingStar {
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 2px;
  color: #ccc;
}

.ratingStarActive {
  color: #ffcc00;
}
