.dark {
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  color: #8f8f8f;
}

.darkModeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #7e7c7c;
  transition: color 0.3s;
}

.darkModeButton:hover {
  color: #f2f2f2;
}

.icon {
  background-color: transparent;
}
