.dark {
  background: rgb(34, 34, 34);
  color: #000000;
}

.darkModeButton {
  position: absolute;
  top: 60px;
  right: 5px;
  z-index: 100;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #7e7c7c;
  transition: color 0.3s;
}

.darkModeButton:hover {
  color: #3745ad;
}

.icon {
  background-color: transparent;
}
