@keyframes animatedBackground {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}
body {
   padding: 0;
   margin: 0;
   background: white;
   background-size: 400% 400%;
}
