.login-container {
  margin-bottom: 40px;
}

.login-container .bg-box {
  background-image: url('https://cdn.pixabay.com/photo/2016/12/15/20/21/texture-1909992_1280.jpg');
  background-position: bottom;
}
