.login-container {
  display: flex;
  height: 100%;
  min-height: 100vh;
  background-image: url('../../assets/img/landingBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.log {
  background-color: rgba(255, 255, 255, 0.313);
  border-radius: 25px;
  padding: 20px;
}

.background {
  width: 300px;
}

.error {
  font-size: 10px;
  color: red;
  margin-left: 10em;
}