

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.buttonShopping {
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  color: rgb(0, 0, 0);
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.buttonShopping:hover {
  background-color: #eaeaea;
}

.buttonCheckout {
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color: #646cff;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.buttonCheckout:hover {
  background-color: #535bf2;
}

.removeButton {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #d9d9d9;
  color: white;
  font-size: 14px;
}

.removeButton:hover {
  background-color: rgb(33, 33, 33);
}

.cardImage {
  margin-top: 20px;
  height: 150px;
  object-fit: contain;
  width: 100%;
}
