.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: -5px auto;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.formGroup {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.label {
  flex: 0 0 30%;
  max-width: 30%;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.labelImageURL {
  flex: 0 0 30%;
  max-width: 30%;
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 5px;
}

.textarea,
.input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textarea {
  resize: vertical;
}

.inputImageURL {
  width: 100%;
  padding: 4px;
  font-size: 0.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #eaeaea;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  flex-basis: 100%;
  text-align: center;
}

.confirmation {
  color: green;
  font-size: 1em;
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center;
}

.uploadButton {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadButton:hover {
  background-color: #ddd;
}

.uploadButton:active {
  background-color: #ccc;
}

.uploadButton input[type='file'] {
  display: none;
}

.separator {
  height: 1px;
  background-color: #e7d6d6;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  font-size: 0.8em; /* Ajusta el tamaño del icono según tus preferencias */
  margin-left: 0.2rem; /* Ajusta el espacio entre el icono y el texto según tus preferencias */
  vertical-align: middle;
}
