.usersPage {
   display: flex;
   flex-wrap: wrap;
   min-height: 80vh;
}
.userCards {
   display: flex;
   flex-wrap: wrap;
   grid-gap: 6rem;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: auto;
   margin-top: 2rem;
   justify-content: center;
}
.pagination{
   display: flex;
   justify-content: center;
   margin: 30px;
}